/**
 * style.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; //rem becomes 10px : 1rem, instead of 16px : 1rem. Easier to calculate.
}
body{
  font-family: 'Noto Sans', sans-serif;
}
// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/header";
@import "partials/footer";

// Pages
@import "pages/contact-us.scss";
@import "pages/about-us.scss";
@import "pages/home.scss";
@import "pages/process.scss";
