/**
 * partials/header
 * ---
 */
// NAVBAR
nav{
  background-color: $font-blue;
  // height: 8rem;
  color: $font-yellow;
  font-size: $font-size-base;
  z-index: 1;
}

nav{
a{
  margin-left: 3rem;
}
}

.logo{
  width: 15rem;
  height: 100%;
  
}
@media only screen and (min-width: 576px) {
.logo {
  display: block;}

.mobile-logo {
  display: none;
  height: 5rem;
}
}
@media only screen and (max-width: 576px) {
.logo {
  display: none;}

.mobile-logo {
  display: block;
  height: 5rem;
}
}


.navbar-light .navbar-nav .nav-link{
color: $font-yellow;
}
.navbar-light .navbar-nav .nav-link:hover{
color: $font-white;
}

.navbar-toggler{
  // background-color: $font-white;
  border: none;
}


// .navcrumb{
//     height: 2rem;
//     width: 2rem;
//     margin-top: .8rem;
// }

