/**
 * style.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/header
 * ---
 */
nav {
  background-color: #5DA3B2;
  color: #EBBC4E;
  font-size: 1.6rem;
  z-index: 1;
}

nav a {
  margin-left: 3rem;
}

.logo {
  width: 15rem;
  height: 100%;
}

@media only screen and (min-width: 576px) {
  .logo {
    display: block;
  }

  .mobile-logo {
    display: none;
    height: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  .logo {
    display: none;
  }

  .mobile-logo {
    display: block;
    height: 5rem;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: #EBBC4E;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #FDF8E1;
}

.navbar-toggler {
  border: none;
}

/**
 * partials/footer
 * ---
 */
.grey {
  background-color: #2C2C2C;
  height: 16rem;
}

.blue {
  background-color: #5DA3B2;
  height: auto;
  color: #FDF8E1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-logo {
  height: 7rem;
}

.subscribe {
  color: #EBBC4E;
  font-size: 2rem;
}

.footertext {
  font-size: 1.6rem;
  margin-top: 3rem;
}

.social-media {
  padding: 1.5rem;
  color: #FDF8E1;
}

.centered {
  display: flex;
  justify-content: center;
}

#copyright {
  text-align: center;
}

.social-media:hover {
  color: #EBBC4E;
}

/**
 * pages/contact-us
 * ---
 */
.icon-text-container {
  text-align: center;
  padding: 7.5rem;
}

.row1 {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  width: 6rem;
  height: 6rem;
}

.btn-lg {
  padding: 0.5rem 5rem;
  font-size: 2.25rem;
  line-height: 1.5;
  border-radius: 2.3rem;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 10px;
  resize: none;
  font-size: 15px;
  box-sizing: border-box;
  border: 2px solid #5DA3B2;
  border-radius: 6px;
  background-color: #FDF8E1;
  color: #2C2C2C;
}

input[type=submit],
input[type=value] {
  background-color: #5DA3B2;
  box-sizing: border-box;
  border: 2px solid #5DA3B2;
  border-radius: 6px;
  color: #FDF8E1;
  padding: 16px 32px;
  margin: 4px 2px;
  font-size: 2rem;
}

.wpcf7 label {
  font-size: 2rem;
}

/**
 * style.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/header
 * ---
 */
/**
 * partials/footer
 * ---
 */
.about-us {
  font-family: "Noto Sans", sans-serif;
  background-color: #EBBC4E;
}
.about-us .banner {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
.about-us .banner img {
  position: relative;
  z-index: 1;
  width: 100%;
  object-fit: cover;
}
.about-us .box {
  background-color: white;
  align-content: center;
}
@media only screen and (max-width: 576px) {
  .about-us .container-fluid {
    display: flex;
    height: 20rem;
  }
  .about-us .box {
    margin: 15px;
    height: 8rem;
  }
  .about-us .grid {
    position: relative;
  }
  .about-us .grid-temp {
    display: grid;
    position: relative;
    grid-template-columns: 1rem 6rem auto 6rem 1rem;
    grid-template-rows: 2rem 4rem 2rem;
    height: 100%;
    width: 100%;
  }
  .about-us .picback img {
    position: relative;
    display: block;
    height: 100%;
    object-fit: cover;
  }
  .about-us .item1 {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
  }
  .about-us .item2 {
    grid-column: 2/span 3;
    grid-row: 1/span 3;
    margin: 0;
  }
  .about-us .item3 {
    grid-column: 4;
    grid-row: 2;
    margin: 0;
  }
  .about-us .quotation {
    display: block;
    position: relative;
    padding: 2rem 20px;
    font-style: italic;
    color: #5DA3B2;
    text-align: center;
    background: transparent;
  }
  .about-us .quotation p {
    line-height: 1.7rem;
    font-size: 1.7rem;
  }
  .about-us .carousel {
    position: relative;
    margin: 0;
    width: 100%;
    height: 25rem;
    background-color: white;
    max-width: 100vw;
  }
  .about-us .carousel .carousel-indicators {
    list-style: none;
    bottom: -3px;
    margin: 0;
    width: 100%;
  }
  .about-us .carousel .carousel-indicators li, .about-us .carousel .carousel-indicators li.active {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin: 12px;
    border-radius: 0;
    border: none;
  }
  .about-us .carousel .carousel-indicators li img {
    opacity: 30%;
  }
  .about-us .carousel .carousel-indicators li.active img {
    opacity: 80%;
  }
  .about-us .carousel .carousel-indicators img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .about-us .carousel .carousel-item {
    height: 100%;
  }
  .about-us .carousel .carousel-caption {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: #5DA3B2;
  }
  .about-us .carousel .carousel-caption h1 {
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 8rem;
  }
  .about-us .carousel .carousel-caption h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
  }
  .about-us .carousel .carousel-caption h3 {
    color: #EBBC4E;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.15rem;
  }
  .about-us .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
  }
  .about-us .button-container .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    background-color: #5DA3B2;
    border-radius: 2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    color: #2C2C2C;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    width: 20rem;
    height: 4rem;
  }
}
@media only screen and (min-width: 576px) {
  .about-us .container-fluid {
    display: flex;
    height: 51rem;
  }
  .about-us .box {
    margin: 20px;
    height: 11rem;
  }
  .about-us .grid {
    position: relative;
  }
  .about-us .grid-temp {
    display: grid;
    position: relative;
    grid-template-columns: 2rem 8rem auto 8rem 2rem;
    grid-template-rows: 3rem 5rem 3rem;
    height: 100%;
    width: 100%;
  }
  .about-us .picback img {
    position: relative;
    display: block;
    height: 100%;
    object-fit: cover;
  }
  .about-us .item1 {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
  }
  .about-us .item2 {
    grid-column: 2/span 3;
    grid-row: 1/span 3;
    margin: 0;
  }
  .about-us .item3 {
    grid-column: 4;
    grid-row: 2;
    margin: 0;
  }
  .about-us .quotation {
    display: block;
    position: relative;
    padding: 1.5rem 20px;
    font-style: italic;
    color: #5DA3B2;
    text-align: center;
  }
  .about-us .quotation p {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }
  .about-us .carousel {
    position: relative;
    margin: 0;
    width: 100%;
    height: 36rem;
    background-color: white;
    max-width: 100vw;
  }
  .about-us .carousel .carousel-indicators {
    list-style: none;
    bottom: -1px;
    margin: 0;
    width: 100%;
  }
  .about-us .carousel .carousel-indicators li, .about-us .carousel .carousel-indicators li.active {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin: 15px;
    border-radius: 0;
    border: none;
  }
  .about-us .carousel .carousel-indicators li img {
    opacity: 30%;
  }
  .about-us .carousel .carousel-indicators li.active img {
    opacity: 80%;
  }
  .about-us .carousel .carousel-indicators img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .about-us .carousel .carousel-item {
    height: 100%;
  }
  .about-us .carousel .carousel-caption {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: #5DA3B2;
  }
  .about-us .carousel .carousel-caption h1 {
    font-size: 11rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 11rem;
  }
  .about-us .carousel .carousel-caption h2 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6.5rem;
  }
  .about-us .carousel .carousel-caption h3 {
    color: #EBBC4E;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 4rem;
  }
  .about-us .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17rem;
  }
  .about-us .button-container .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    background-color: #5DA3B2;
    border-radius: 4rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    color: #2C2C2C;
    text-align: center;
    font-size: 3.5rem;
    line-height: 3.5rem;
    width: 35rem;
    height: 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .about-us .container-fluid {
    display: flex;
    height: 65rem;
  }
  .about-us .box {
    margin: 25px;
    height: 15rem;
  }
  .about-us .grid {
    position: relative;
  }
  .about-us .grid-temp {
    display: grid;
    position: relative;
    grid-template-columns: 4rem 12.5rem auto 12.5rem 4rem;
    grid-template-rows: 2.5rem 10rem 2.5rem;
    height: 100%;
    width: 100%;
  }
  .about-us .picback img {
    position: relative;
    display: block;
    height: 100%;
    object-fit: cover;
  }
  .about-us .item1 {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
  }
  .about-us .item2 {
    grid-column: 2/span 3;
    grid-row: 1/span 3;
    margin: 0;
  }
  .about-us .item3 {
    grid-column: 4;
    grid-row: 2;
    margin: 0;
  }
  .about-us .quotation {
    display: block;
    position: relative;
    padding: 2rem 20px;
    font-style: italic;
    color: #5DA3B2;
    text-align: center;
  }
  .about-us .quotation p {
    line-height: 4.5rem;
    font-size: 3.75rem;
  }
  .about-us .carousel {
    position: relative;
    margin: 0;
    width: 100%;
    height: 48rem;
    background-color: white;
    max-width: 100vw;
  }
  .about-us .carousel .carousel-indicators {
    list-style: none;
    bottom: 7px;
    margin: 0;
    width: 100%;
  }
  .about-us .carousel .carousel-indicators li, .about-us .carousel .carousel-indicators li.active {
    width: 6rem;
    height: 6rem;
    position: relative;
    margin: 20px;
    border-radius: 0;
    border: none;
  }
  .about-us .carousel .carousel-indicators li img {
    opacity: 30%;
  }
  .about-us .carousel .carousel-indicators li.active img {
    opacity: 80%;
  }
  .about-us .carousel .carousel-indicators img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .about-us .carousel .carousel-item {
    height: 100%;
  }
  .about-us .carousel .carousel-caption {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: #5DA3B2;
  }
  .about-us .carousel .carousel-caption h1 {
    font-size: 14rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 14rem;
  }
  .about-us .carousel .carousel-caption h2 {
    font-size: 8rem;
    font-weight: 600;
    line-height: 9rem;
  }
  .about-us .carousel .carousel-caption h3 {
    color: #EBBC4E;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 4.75rem;
  }
  .about-us .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
  }
  .about-us .button-container .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    background-color: #5DA3B2;
    border-radius: 6rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    color: #2C2C2C;
    text-align: center;
    font-size: 4.5rem;
    line-height: 4.5rem;
    width: 43rem;
    height: 8rem;
  }
}

/*# sourceMappingURL=style.css.map */
.mov {
  overflow: hidden;
}

.process .grid {
  position: relative;
}
.process .grid-temp {
  display: inline-grid;
  position: relative;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(30, 4rem);
  height: 100%;
  width: 100%;
}
.process .picback img {
  position: relative;
  display: block;
  height: 100%;
  object-fit: cover;
}
.process p {
  display: flex;
  position: relative;
  padding: 0;
  margin-top: 10px;
  color: #5DA3B2;
  text-align: center;
  justify-content: center;
  background: transparent;
  font-size: large;
}
.process .item1 {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
  margin: 0;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item2 {
  grid-column: 2/span 2;
  grid-row: 4/span 2;
  margin: 0;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item3 {
  grid-column: 2/span 2;
  grid-row: 7/span 2;
  margin: 0;
  border: solid;
  border-width: thick;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item4 {
  grid-column: 2/span 2;
  grid-row: 10/span 2;
  margin: 0;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item5 {
  grid-column: 2/span 2;
  grid-row: 13/span 2;
  margin: 0;
  border: solid;
  border-width: thick;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item6 {
  grid-column: 2/span 2;
  grid-row: 16/span 2;
  margin: 0;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item7 {
  grid-column: 2/span 2;
  grid-row: 19/span 2;
  margin: 0;
  border: solid;
  border-width: thick;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item8 {
  grid-column: 2/span 2;
  grid-row: 22/span 2;
  margin: 0;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item9 {
  grid-column: 2/span 2;
  grid-row: 25/span 2;
  margin: 0;
  border: solid;
  border-width: thick;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item10 {
  grid-column: 2/span 2;
  grid-row: 28/span 2;
  margin: 0;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  background-color: #FDF8E1;
  align-items: center;
}
.process .item11 {
  grid-column: 5/span 2;
  grid-row: 7/span 2;
  margin: 0;
  border: solid;
  border-width: thick;
  background-color: #FDF8E1;
}
.process .item12 {
  grid-column: 5/span 2;
  grid-row: 13/span 2;
  margin: 0;
  border: solid;
  border-width: thick;
  background-color: #FDF8E1;
}
.process .item13 {
  grid-column: 5/span 2;
  grid-row: 19/span 2;
  margin: 0;
  border: dashed;
  border-width: thick;
  background-color: #FDF8E1;
}
.process .item14, .process .item15, .process .item16, .process .item17, .process .item18, .process .item19, .process .item20, .process .item21, .process .item22 {
  border-left: dashed;
  border-width: thick;
}
.process .item14 {
  grid-column: 3;
  grid-row: 3;
}
.process .item15 {
  grid-column: 3;
  grid-row: 6;
}
.process .item16 {
  grid-column: 3;
  grid-row: 9;
}
.process .item17 {
  grid-column: 3;
  grid-row: 12;
}
.process .item18 {
  grid-column: 3;
  grid-row: 15;
}
.process .item19 {
  grid-column: 3;
  grid-row: 18;
}
.process .item20 {
  grid-column: 3;
  grid-row: 21;
}
.process .item21 {
  grid-column: 3;
  grid-row: 24;
}
.process .item22 {
  grid-column: 3;
  grid-row: 27;
}
.process .item23, .process .item24, .process .item25 {
  border-bottom: dashed;
  border-width: thick;
}
.process .item23 {
  grid-column: 4;
  grid-row: 7;
}
.process .item24 {
  grid-column: 4;
  grid-row: 13;
}
.process .item25 {
  grid-column: 4;
  grid-row: 19;
}
.process .item26, .process .item27, .process .item28 {
  border-bottom: dashed;
  border-right: dashed;
  border-width: thick;
}
.process .item26 {
  grid-column: 4/span 2;
  grid-row: 9/span 2;
}
.process .item27 {
  grid-column: 4/span 2;
  grid-row: 15/span 2;
}
.process .item28 {
  grid-column: 4/span 2;
  grid-row: 21/span 2;
}

/*# sourceMappingURL=style.css.map */
