/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
$font-family-base: 'Noto Sans', sans-serif;

$font-size-base: 1.6rem;

/**
 * Colors
 */
$font-blue: #5DA3B2;
$font-yellow: #EBBC4E;
$font-white: #FDF8E1;
$font-black: #2C2C2C;


/**
 * Grid
 */
